<h1>{{ title }}</h1>
<div class="normal-spinners">
    <circle-loader color="#be97e8"></circle-loader>
    <default-loader color="#be97e8"></default-loader>
    <dualring-loader color="#be97e8"></dualring-loader>
    <ellipsis-loader color="#be97e8"></ellipsis-loader>
    <facebook-loader color="#be97e8"></facebook-loader>
    <grid-loader color="#be97e8"></grid-loader>
    <heart-loader color="#be97e8"></heart-loader>
    <hourglass-loader color="#be97e8"></hourglass-loader>
    <ring-loader color="#be97e8"></ring-loader>
    <ripple-loader color="#be97e8"></ripple-loader>
    <roller-loader color="#be97e8"></roller-loader>
    <spinner-loader color="#be97e8"></spinner-loader>
    <orbitals-loader color="#be97e8"></orbitals-loader>
</div>
<div class="main">
    <h2>Color Property</h2>
    <div class="block">
        <circle-loader class="loader" color="#54f1d2"></circle-loader>
        <circle-loader class="loader" color="#be97e8"></circle-loader>
        <circle-loader class="loader"></circle-loader>
    </div>
    <div class="block">
        <facebook-loader class="loader" color="#54f1d2"></facebook-loader>
        <facebook-loader class="loader" color="#be97e8"></facebook-loader>
        <facebook-loader class="loader"></facebook-loader>
    </div>
    <div class="block">
        <hourglass-loader class="loader" color="#54f1d2"></hourglass-loader>
        <hourglass-loader class="loader" color="#be97e8"></hourglass-loader>
        <hourglass-loader class="loader"></hourglass-loader>
    </div>
    <div class="block">
        <ripple-loader class="loader" color="#54f1d2"></ripple-loader>
        <ripple-loader class="loader" color="#be97e8"></ripple-loader>
        <ripple-loader class="loader"></ripple-loader>
    </div>
    <div class="block">
        <spinner-loader class="loader" color="#54f1d2"></spinner-loader>
        <spinner-loader class="loader" color="#be97e8"></spinner-loader>
        <spinner-loader class="loader"></spinner-loader>
    </div>
    <div class="block">
        <default-loader class="loader" color="#54f1d2"></default-loader>
        <default-loader class="loader" color="#be97e8"></default-loader>
        <default-loader class="loader"></default-loader>
    </div>
    <div class="block">
        <grid-loader class="loader" color="#54f1d2"></grid-loader>
        <grid-loader class="loader" color="#be97e8"></grid-loader>
        <grid-loader class="loader"></grid-loader>
    </div>
    <div class="block">
        <ring-loader class="loader" color="#54f1d2"></ring-loader>
        <ring-loader class="loader" color="#be97e8"></ring-loader>
        <ring-loader class="loader"></ring-loader>
    </div>
    <div class="block">
        <dualring-loader class="loader" color="#54f1d2"></dualring-loader>
        <dualring-loader class="loader" color="#be97e8"></dualring-loader>
        <dualring-loader class="loader"></dualring-loader>
    </div>
    <div class="block">
        <heart-loader class="loader" color="#54f1d2"></heart-loader>
        <heart-loader class="loader" color="#be97e8"></heart-loader>
        <heart-loader class="loader"></heart-loader>
    </div>
    <div class="block">
        <roller-loader class="loader" color="#54f1d2"></roller-loader>
        <roller-loader class="loader" color="#be97e8"></roller-loader>
        <roller-loader class="loader"></roller-loader>
    </div>
    <div class="block">
        <ellipsis-loader class="loader" color="#54f1d2"></ellipsis-loader>
        <ellipsis-loader class="loader" color="#be97e8"></ellipsis-loader>
        <ellipsis-loader class="loader"></ellipsis-loader>
    </div>
    <div class="block">
        <orbitals-loader class="loader" color="#54f1d2"></orbitals-loader>
        <orbitals-loader class="loader" color="#be97e8"></orbitals-loader>
        <orbitals-loader class="loader"></orbitals-loader>
    </div>

    <div style="clear: both"></div>
</div>
<div class="main">
    <h2>Size Property</h2>
    <div class="block">
        <circle-loader class="loader" color="#be97e8"></circle-loader>
        <circle-loader class="loader" color="#be97e8" size="32"></circle-loader>
        <circle-loader class="loader" color="#be97e8" size="16"></circle-loader>
    </div>
    <div class="block">
        <ring-loader class="loader" color="#be97e8"></ring-loader>
        <ring-loader class="loader" color="#be97e8" size="40"></ring-loader>
        <ring-loader class="loader" color="#be97e8" size="20"></ring-loader>
    </div>

    <div style="clear: both"></div>
</div>