<div class="main">
    <h1>{{title}}</h1>
    <br/>
    <circle-loader class="loader" color="black"></circle-loader>
    <circle-loader class="loader" color="#de3541"></circle-loader>
    <circle-loader class="loader"></circle-loader>
    <br/>
    <facebook-loader class="loader" color="black"></facebook-loader>
    <facebook-loader class="loader" color="#de3541"></facebook-loader>
    <facebook-loader class="loader"></facebook-loader>
    <br/>
    <hourglass-loader class="loader" color="black"></hourglass-loader>
    <hourglass-loader class="loader" color="#de3541"></hourglass-loader>
    <hourglass-loader class="loader"></hourglass-loader>
    <br/>
    <ripple-loader class="loader" color="black"></ripple-loader>
    <ripple-loader class="loader" color="#de3541"></ripple-loader>
    <ripple-loader class="loader"></ripple-loader>
    <br/>
    <spinner-loader class="loader" color="black"></spinner-loader>
    <spinner-loader class="loader" color="#de3541"></spinner-loader>
    <spinner-loader class="loader"></spinner-loader>
    <br/>
    <default-loader class="loader" color="black"></default-loader>
    <default-loader class="loader" color="#de3541"></default-loader>
    <default-loader class="loader"></default-loader>
    <br/>
    <grid-loader class="loader" color="black"></grid-loader>
    <grid-loader class="loader" color="#de3541"></grid-loader>
    <grid-loader class="loader"></grid-loader>
    <br/>
    <ring-loader class="loader" color="black"></ring-loader>
    <ring-loader class="loader" color="#de3541"></ring-loader>
    <ring-loader class="loader"></ring-loader>
    <br/>
    <dualring-loader class="loader" color="black"></dualring-loader>
    <dualring-loader class="loader" color="#de3541"></dualring-loader>
    <dualring-loader class="loader"></dualring-loader>
    <br/>
    <heart-loader class="loader" color="black"></heart-loader>
    <heart-loader class="loader" color="#de3541"></heart-loader>
    <heart-loader class="loader"></heart-loader>
    <br/>
    <roller-loader class="loader" color="black"></roller-loader>
    <roller-loader class="loader" color="#de3541"></roller-loader>
    <roller-loader class="loader"></roller-loader>
    <br/>
    <ellipsis-loader class="loader" color="black"></ellipsis-loader>
    <ellipsis-loader class="loader" color="#de3541"></ellipsis-loader>
    <ellipsis-loader class="loader"></ellipsis-loader>
</div>